@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --main-grey: hsl(0, 0%, 85%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rock salt', sans-serif;
}

body {
    background-image: url(img/brick-wall.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: transparent;
    font-size: 5rem;
    padding-top: 20px;
    text-shadow: 0 0 3px var(--main-grey);
    margin-bottom: -80px;
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 8rem;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 55px;
    text-shadow: 25px 15px 15px hsl(0, 0%, 0%);
}

.choices button:hover {
    transform: translateY(-15px);
}

.choices button:active {
    transform: scale(1.1);
}

#playerDisplay, #computerDisplay {
    font-size: 2rem;
    color: transparent;
    text-shadow: 0 0 2px var(--main-grey);
}

#resultDisplay {
    font-size: 4rem;
    margin-top: -15px;
}

.green, #playerScoreDisplay {
    color: hsl(130, 60%, 50%);
}

.red, #computerScoreDisplay {
    color: hsl(0, 65%, 45%)
}

.grey {
    color: var(--main-grey);
}

.score {
    position: absolute;
    top: 2%;
    left: 1%;
}

.score p {
    font-family: Arial, sans-serif;
    color: var(--main-grey);
    font-weight: bold;
    margin-bottom: 5px;
}

span {
    margin-left: 5px;
}

.reset button {
    font-size: 2rem;
    color: var(--main-grey);
    font-weight: bold;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1%;
    right: 3%;
    cursor: pointer;
}

.reset button:hover {
    color: hsl(0, 0%, 70%);
}

.reset button:active {
    color: hsl(0, 0%, 100%)
}